<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
</head>
<body>
<h1>Войдите, используя учётные данные,</h1>
<h1>или <a href="/signUp">Зарегистрируйтесь</a></h1>
<br>
<form method="post" action="/signIn">
    <label>Email:
        <input type="email" name="email" placeholder="Введите email...">
    </label>
    <label>Пароль:
        <input type="password" name="password" placeholder="Введите пароль...">
    </label>
    <input type="submit" value="Вход">
</form>
</body>
</html>