<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Данные позиции товара - ${playConsole.model}</title>
</head>
<body>
<h3>ID - ${playConsole.id}</h3>
<h3>Производитель - ${playConsole.producer}</h3>
<h3>Модель - ${playConsole.model}</h3>
<h3>Цена - ${playConsole.price}</h3>
<h3>Количество - ${playConsole.quantity}</h3>
<br>
<form method="post" action="/stocks/${playConsole.id}/update">
    <label>
        Производитель: <input name="producer" value="${playConsole.producer}">
    </label>
    <label>
        Модель: <input name="model" value="${playConsole.model}">
    </label>
    <label>
        Цена: <input name="price" value="${playConsole.price?c}">
    </label>
    <label>
        Количество: <input name="quantity" value="${playConsole.quantity?c}">
    </label>
    <input type="submit" value="Сохранить...">
</form>
<br>

</body>
</html>