<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Товары на складе</title>
</head>
<body>
<h1>Добавление товара</h1>
<form method="post" action="\stocks">
    <label>Производитель:
        <input name="producer" placeholder="Производитель">
    </label>
    <label>Модель:
        <input name="model" placeholder="Модель">
    </label>
    <label>Цена:
        <input name="price" placeholder="Цена">
    </label>
    <label>Количество на складе:
        <input name="quantity" placeholder="Количество на складе">
    </label>
    <input type="submit" value="Добавить">
</form>
<table>
    <tr>
        <th align="center">ID</th>
        <th align="center">Производитель</th>
        <th align="center">Модель</th>
        <th align="center">Цена</th>
        <th align="center">Количество на складе</th>
        <th align="center">Действия</th>
    </tr>
    <br>
    <#list stocks as playConsole>
        <tr>
            <td align="center">${playConsole.id}</td>
            <td align="center">${playConsole.producer}</td>
            <td align="center">${playConsole.model}</td>
            <td align="center">${playConsole.price}</td>
            <td align="center">${playConsole.quantity}</td>
            <td>
                <form method="post" action="/stocks/${playConsole.id}/delete">
                    <input type="submit" value="Удалить">
                </form>
                <a href="/stocks/${playConsole.id}">Перейти</a>
            </td>
        </tr>
    </#list>
</table>

</body>
</html>